<!-- 変数 movie, submit_btn -->
  <%= form_with(model: movie, local: true) do |form| %>
    <% if movie.errors.any? %>
      <%= render 'layouts/error', var: movie %>
    <% end %>

    <div class="movie_edit_field">
      <%= form.text_field :jp_title, placeholder: "Japanese title" %>
      <%= form.text_field :en_title, placeholder: "English title", required: true  %>
      <%= form.file_field :image, id: :movie_image %>
      <%= form.hidden_field :image_cache %>
      <%= form.text_field :director, placeholder: "Director" %>
      <%= form.text_field :writer, placeholder: "Writers" %>
      <%= form.text_area :star, placeholder: "Stars" %>
      <%= form.number_field :playyear, placeholder: "Playyear" %>
      <%= form.text_field :country, placeholder: "Country" %>
      <%= form.text_area :imdb, placeholder: "IMDb link" %>
    </div>
      <%= form.submit "#{submit_btn}", class: "btn btn-default" %>
  <% end %>
