<table>
  <thead>
    <tr>
      <th>Jp title</th>
      <th>En title</th>
      <th>Image</th>
      <th>Star</th>
      <th>Director</th>
      <th>writer</th>
      <th>Playyear</th>
      <th>Country</th>
      <th>Imdb</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.jp_title, movie_path(movie.id) %></td>
        <td><%= movie.en_title %></td>
        <td><%= movie.image %></td>
        <td><%= movie.star %></td>
        <td><%= movie.director %></td>
        <td><%= movie.writer %></td>
        <td><%= movie.playyear %></td>
        <td><%= movie.country %></td>
        <td><%= movie.imdb %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
