

<%= form_with(model: @user_icon, local: true) do |form| %>

  <% if @user_icon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_icon.errors.count, "error") %> prohibited this user_icon from being saved:</h2>
      <ul>
      <% @user_icon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user_icon.image.present? %>
    <%= image_tag @user_icon.image_url, width: '100' %>
  <% end %>

  <div class="field">
    <%= form.file_field :image, id: 'movie_image' %>
  </div>

  <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
  <%= form.submit "アイコンを登録する" %>
<% end %>
