

<%= form_with(model: @user_icon, local: true) do |form| %>

  <% if @user_icon.errors.any? %>
    <%= render 'layouts/error', var: @user_icon %>
  <% end %>

  <% if @user_icon.image.present? %>
    <%= image_tag @user_icon.image_url, width: '100' %>
  <% end %>

  <div class="field">
    <%= form.file_field :image, id: 'movie_image' %>
  </div>

  <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
  <%= form.submit "アイコンを登録する" %>
<% end %>
