<%= form_with(model: review, local: true, id: "review_form") do |form| %>

  <h3>
    <%= link_to "#{movie.en_title}", movie_path(movie.id) %><small>&nbsp;のレビュー</small>
  </h3>

  <div class="rate_part row">
    <div class="col-md-2">
      <%= form.label :rate %>:
      <input id="amount" type="text" value="0.0" name="review[rate]" readonly>
    </div>
    <div class="col-md-8" id="slider-range-min">
    </div>
  </div>

  <div class="filling_review">
      <%= form.text_area :content, placeholder: "レビューを入力" %>
  </div>

  <% if review.errors.any? %>
    <%= render 'layouts/error', var: review %>
  <% end %>



  <hr>

  <!-- フレーズ記入欄 -->
  <!-- review.phrases.buildのインスタンス生成した個数のtextareaを表示してくれる -->
  <%= form.fields_for :phrases do |phrase| %>
    <div class="filling_phrase">
      <%= phrase.text_area :content, placeholder: 'フレーズを入力', id: 'phrase_content' %>
    </div>
  <% end %>
  <!-- <div class="btn btn-primary" id="add_phrase">フレーズを追加</div> -->
  <!-- ボタンを押すとフレーズの記入フォームが現れる -->
  <div id="phrase_field"></div>


  <%= form.hidden_field :movie_id, value: movie.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <input class="val" type="hidden" value="<%= review.id %>"> 

  <div class="actions">
    <%= form.submit '投稿', id: "submit_btn" %>
  </div>
<% end %>

<script>
autosize($('textarea'));
$('#review_form').on('submit', function(){
  if($("#phrase_content").val() == "") {
    $('#phrase_content').attr('disabled','true');
  };
});
</script>
