<%= form_with(model: review, local: true) do |form| %>

  <p>
    <%= link_to "#{movie.en_title}", movie_path(movie.id) %>
  </p>

  <div class="">
    <%= image_tag movie.image_url, width: '200' %>
  </div>

  <%= form.label :rate %>
  <%= form.text_field :rate, id: 'amount' %>
  <div id="slider"></div>

  <% if review.errors.any? %>
    <%= render 'layouts/error', var: review %>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :review_content %>
  </div>

  <%= field_set_tag 'フレーズ' do %>
    <% if action_name == "new" %>
      <% if phrase.errors.any? %>
        <%= render 'layouts/error', var: phrase %>
      <% end %>

      <%= fields_for phrase do |pf| %>
        <div class="field">
          <%= pf.label :content %>
          <%= pf.text_area :content, id: :phrase_content %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= form.hidden_field :movie_id, value: movie.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
