<div class="one_review" data-comment="<%= review.id %>">
  <div id="detail_part" data-comment="<%= review.id %>">
    <h5>
      <% if review.user.user_icon.present? %>
        <%= image_tag "#{review.user.user_icon.image.url}", width: '50' %>
      <% else %>
        <%= image_tag 'default_user_img.png', width: '50' %>
      <% end %>
      <%= link_to "#{review.user.name}さんのレビュー", review_path(review.id) %>
    </h5>
    <div class="rate_wrap">
      <!-- rate_number(helper/reviews)でクラスの名前の変更(クラスには小数点が使えないから) -->
      <span class="rate rate<%= rate_number(review) %>"></span>
      <span class="rate_number"><%= review.rate %></span>
    </div>
    <p class="review_content" data-comment="<%= review.id %>"><%= review.content %></p>
  </div>

  <%= render 'rlikes/rlike_and_comment', review: review %>

</div>

<% if @change.present? %>
  <% if change == "timeline" || change == "review_show" %>
    <script>
        $('#detail_part[data-comment="'+<%= review.id %>+'"]').wrap('<div class="col-md-9" data-comment="<%= review.id %>"></div>');
        $('.col-md-9[data-comment="'+<%= review.id %>+'"]').after('<div class="col-md-3" id="picture_part" data-comment="<%= review.id %>"><%= image_tag movie.image_url, width: '150' %></div>');
        $('.one_review[data-comment="'+<%= review.id %>+'"]').wrapInner('<div class="row" data-comment="<%= review.id %>"></div>');
    </script>
  <% end %>

  <% if change == "review_show" %>
    <script>
      $('p.review_content[data-comment="'+<%= review.id %>+'"]').css({'max-height':'','min-height':'100px'});
    </script>
  <% end %>
<% end %>
