<!-- 変数review, movie, phrase -->
<%= form_with(model: review, local: true, id: "review_form") do |form| %>

  <h3>
    <%= link_to "#{movie.en_title}", movie_path(movie.id) %><small>&nbsp;のレビュー</small>
    <% if review.id.present? %>
      <%= link_to new_review_phrase_path(review_id: review.id), remote: true do %>
        <span class="btn" id="add_btn" >フレーズを追加</span>
      <% end %>
    <% end %>
  </h3>


  <div class="rate_part row">
    <div class="col-md-2">
      <%= form.label :rate %>:
      <input id="amount" type="text" value="0.0" name="review[rate]" readonly>
    </div>
    <div class="col-md-8" id="slider-range-min">
    </div>
  </div>

  <div class="filling_review">
      <%= form.text_area :content, placeholder: "レビューを入力" %>
  </div>

  <% if review.errors.any? %>
    <%= render 'layouts/error', var: review %>
  <% end %>

  <!-- フレーズ記入欄 -->
  <% if action_name == "new" || action_name == "create" %>
    <%= render 'phrases/new_phrase', phrases_count: 0 %>
  <% elsif action_name == "edit" %>
    <div class="phrase_part">
      <%= render 'phrases/edit_phrase', form: form, review: review %>
    </div>
  <% end %>
  <!-- if-end -->

  <%= form.hidden_field :movie_id, value: movie.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="review_form_submit">
    <%= form.submit '投稿', class: "btn btn-default", id: "submit_btn" %>
  </div>
<% end %>
<!-- form end -->
