<div class="whole_page container">
  <%= render 'reviews/one_review', review: @review, movie: @movie %>

  <% if current_user == @review.user %>
    <%= link_to 'Edit', edit_review_path(@review) %> |
    <%= link_to 'Destroy', review_path(@review), method: :delete, data: { confirm: "Are you sure?"} %> |
  <% else %>
    <%= link_to 'Correct', new_review_correction_path(@review.id) %> |
  <% end %>

  <%= link_to 'Back', movie_path(@movie) %>

  <br>
  <br>
  <hr>
  <br>

  <h2>添削・コメント</h2>
  <% if @corrections.present? %>
    <% @corrections.each do |correction| %>
      <p>name:<%= correction.user.name %><p>
      <p>content:<%= correction.content %></p>
      <% if current_user == correction.user %>
        <%= link_to 'delete', correction_path(correction.id), method: :delete, data: { confirm: "Are you sure?"} %><br>
      <% end %>
      <br>
    <% end %>
  <% end %>

  <%= form_with(model: [@review, @correction], local: true) do |form| %>
    <% if @correction.errors.any? %>
      <%= render 'layouts/error', var: @correction %>
    <% end %>

    <div>
      <%= form.text_area :content %>
    </div>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :wether_correction, value: "false" %>
    <%= form.submit 'comment' %>
  <% end %>

</div>
<!-- container -->


<script>
// 添削・コメントリンクを消す
  $('.correction_link').css('display','none');
</script>
