<h2><%= link_to "#{@movie.en_title}", movie_path(@movie.id) %>の<%= @correction.review.user.name %>さんのレビューを添削する</h2>

<%= form_with(model: @correction, local: true) do |form| %>
  <% if @correction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@correction.errors.count, "error") %> prohibited this correction from being saved:</h2>
      <ul>
      <% @correction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.text_area :content, value: "#{@correction.review.content}" %>
  </div>
  <%= form.hidden_field :review_id, value: @correction.review.id %>
  <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
  <%= form.hidden_field :wether_correction, value: "true" %>
  <%= form.submit 'correct', name: "correct" %>
<% end %>
