<!-- 変数 review, correction, like, count -->
<a data-remote="true" rel="nofollow" data-method="delete" href="/reviews/<%= review.id %>/corrections/<%= correction.id %>/clikes/<%= like.id %>" data-comment="<%= correction.id %>">
  <i class="fa fa-heart fa-fw fa-lg fa-pink" aria-hidden="true"></i>いいね！&nbsp;
</a><%= count %>件
