<!-- 変数 review, correction, count -->
<a data-remote="true" rel="nofollow" data-method="post" href="/reviews/<%= review.id %>/corrections/<%= correction.id %>/clikes?user_id=<%= current_user.id %>" data-comment="<%= correction.id %>">
  <i class="fa fa-heart-o fa-fw fa-lg" aria-hidden="true"></i>いいね！&nbsp;
</a><%= count %>件
